In [45]:
import pandas as pd
from sqlalchemy import create_engine

In [46]:
engine = create_engine("mysql://root:cocole10@localhost/tsc",encoding='utf8')
conn = engine.connect()

In [47]:
q = """SELECT 
    FECHA, sum(MONTO) as TDIA
FROM
    TRANSACCION
group by FECHA;
"""

In [59]:
%%time
df = pd.read_sql(con=conn,sql=q)

CPU times: user 8 ms, sys: 0 ns, total: 8 ms
Wall time: 34.9 s

In [60]:
df.head()

        FECHA        TDIA
0  2014-01-01  1052369.83
1  2014-01-02  1081454.89
2  2014-01-03  1038919.33
3  2014-01-04  1063273.20
4  2014-01-05  1019764.41

In [61]:
from datetime import date
import calendar

In [62]:
df.FECHA = map(lambda x: date(int(x[0:4]),int(x[5:7]),int(x[8:10])),df.FECHA)

In [63]:
df.head()

        FECHA        TDIA
0  2014-01-01  1052369.83
1  2014-01-02  1081454.89
2  2014-01-03  1038919.33
3  2014-01-04  1063273.20
4  2014-01-05  1019764.41

In [64]:
df.FECHA = map(lambda x : calendar.day_name[x.weekday()], df.FECHA)

In [65]:
df.head()

       FECHA        TDIA
0  Wednesday  1052369.83
1   Thursday  1081454.89
2     Friday  1038919.33
3   Saturday  1063273.20
4     Sunday  1019764.41

In [66]:
df = df.groupby(['FECHA'], sort=False).sum().reset_index()
df.head()

       FECHA          TDIA
0  Wednesday  1.371529e+08
1   Thursday  1.367345e+08
2     Friday  1.370016e+08
3   Saturday  1.375894e+08
4     Sunday  1.368520e+08

In [67]:
from __future__ import division
x = sum(df.TDIA)
for i in range(7):
    df.TDIA[i] = df.TDIA[i]/x

/home/alejandro/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [68]:
df

       FECHA      TDIA
0  Wednesday  0.143110
1   Thursday  0.142674
2     Friday  0.142952
3   Saturday  0.143566
4     Sunday  0.142796
5     Monday  0.142371
6    Tuesday  0.142531