In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import os 
%matplotlib inline

In [140]:
engine = create_engine("mysql://root:cocole10@localhost/tsc",encoding='utf8')
conn = engine.connect()

In [4]:
query = """    
SELECT SUM(MONTO) AS MONTO_TOTAL, YEAR(FECHA) AS ANIO , f.NOMBRE AS ESTADO
FROM 
	SUCURSAL a 
		inner join
    CLIENTE b ON a.ID = b.ID_SUCURSAL
		INNER JOIN
	CUENTA c ON c.ID_CLIENTE=b.ID
		INNER JOIN
	PLASTICO d ON d.ID_CUENTA=c.NUM_CUENTA
		INNER JOIN
    TRANSACCION e ON e.PAN=d.PAN
		INNER JOIN
	ESTADO f ON f.ID=a.ID_ESTADO
    WHERE ESTATUS = 'A'
    GROUP BY YEAR(FECHA), f.NOMBRE;
"""

In [180]:
%%time
df = pd.read_sql(con=conn,sql=query)

TypeError: read_sql() got an unexpected keyword argument 'encoding'

In [2]:
df = pd.read_csv('q1.csv', encoding='utf8', low_memory=False)

In [3]:
df[df.ESTADO=='Aguascalientes']

    MONTO_TOTAL  ANIO          ESTADO
0   11153239.66  2014  Aguascalientes
32  11327827.50  2015  Aguascalientes
64   5904015.62  2016  Aguascalientes

In [4]:
from __future__ import division
T1 = pd.DataFrame(columns=['Estado','dif'])
T2 = pd.DataFrame(columns=['Estado','dif'])
T1['Estado'] =  list(df.ESTADO[[x  for x in range(32)]])
T2['Estado'] =  list(df.ESTADO[[x  for x in range(32)]])
for i in range(32):
    T1['dif'][i] = (df.MONTO_TOTAL[i] - df.MONTO_TOTAL[32+i])/df.MONTO_TOTAL[i]
    T2['dif'][i] = (df.MONTO_TOTAL[i+32] - df.MONTO_TOTAL[32+32+i])/df.MONTO_TOTAL[i+32]

In [5]:
T2 = T2.sort_values('dif')
T1 = T1.sort_values('dif')

In [6]:

import plotly.plotly as py
import plotly.graph_objs as go

Tr2 = go.Bar(
    x=list(T1.Estado),
    y=list(T1.dif),
    name='dif 14-15'
)
Tr1 = go.Bar(
    x=list(T2.Estado),
    y=list(T2.dif),
    name='dif 15-16'
)

data = [Tr1, Tr2]
layout = go.Layout(
    barmode='group'
    
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')